.wrapper,
.card {
  height: 230px;
  max-width: 900px;
  margin-inline: auto;
  position: relative;
}

.wrapper {
  perspective: 900px;
}

.card {
  text-align: center;
  transition: all 1.5s cubic-bezier(0.75, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.wrapper:hover .card {
  transform: rotateY(180deg);
}

.item-front,
.item-back {
  width: 300px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.item-front {
  cursor: pointer;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
  background-size: cover;
  img {
    width: 100%;

    object-fit: contain;
  }
}

.item-back {
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 25px;
  height: 450px;
  background-color: #fff;
}

.content {
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-title h3 {
  color: #26323b;
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: 700;
}

.item-title h4 {
  font-weight: 500;
}

.item-text {
  margin: 25px 0 40px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 15px;
}

li:last-child {
  margin-right: 15px;
}
